{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of Booked Pet</h2>
<table class="table table-striped">
    <thead>
    <td>PET BOOKING ID</td>
    <td>USER NAME</td>

    <td>PET TYPE</td>
    <td>PET BREED</td>
    <td>PET LOCATION</td>
    <td>PET BLOODLINE</td>

    <td>NUM OF PETS</td>
    <td>PRICE</td>
    <td>DATE</td>
    <td>TIME</td>
    <td>STATUS</td>

    </thead>

    {% for row in book_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>

        <td>{{row.pet_type}}</td>
        <td>{{row.pet_breed}}</td>
        <td>{{row.pet_location}}</td>
        <td>{{row.pet_bloodline}}</td>

        <td>{{row.pet_nos}}</td>
        <td>{{row.pet_price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>


    </tr>
    {% endfor %}
</table>

<div class="form-container">
    <form action="{% url 'cancellings' %}" method="post">
        <!-- First form code here -->
        <h3>Choose PET ID from above list to Cancel Booking</h3>
        {% csrf_token %}
        <div class="col-auto">
            <label for="example-email-input" class="col-2 col-form-label">PET ID</label>
            <div class="col-5">
                <input name='pet_id' class="form-control" type="number" id="example-email-input">
            </div>
        </div>

        <br>
        <br>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary float-left">Cancel Order</button>
        </div>
        {{error}}
    </form>
</div>
<br>
<br>
<br>
<br>
<div class="form-container">
    <form action="{% url 'deletebooking' %}" method="post">
        <!-- Second form code here -->
        <h3>Choose PET ID from above list to Delete Booking</h3>
        {% csrf_token %}
        <div class="col-auto">
            <label for="example-email-input" class="col-2 col-form-label">PET ID</label>
            <div class="col-5">
                <input name='pet_idd' class="form-control" type="number" id="example-email-input">
            </div>
        </div>

        <br>
        <br>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary float-left">Delete Order</button>
        </div>

        {{error}}
    </form>
</div>

{% endblock %}